[submodule "scripts/ace-builds"]
	path = libs/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "libs/highlight.js"]
	path = libs/highlight.js
	url = https://github.com/highlightjs/cdn-release.git
